/* --------------command-------------- */
.command {
  background-color: var(--backgrond-section-color);
  padding-top: 94px;
  padding-bottom: 94px;

  margin: 0px auto;
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;

  // font-size: 36px;
  // line-height: 1.17;
  // font-weight: 700;
  @include font (36px, 1.17, 700, null);
  text-align: center;
  color: var(--dark-text-color);
}
.command-list {
  display: flex;
  margin-left: -30px;
}
.command-item {
  background-color: #ffffff;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-tumb {
  padding: 30px 0;
}
.command-name {
  margin-bottom: 10px;
  
  // font-size: 16px;
  // line-height: 1.2;
  // font-weight: 500;
  @include font(19px, 1.2, 500, null);
  text-align: center;

  color: var(--dark-text-color);
}
.command-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}