/* ---------------hero---------------------- */
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/hero-mobile.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-color);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/hero-mobile2x.jpg');
  }

  // !!!!!768px!!!!!!!!!!!!!!!!!!!!!!
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/hero-tablet.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/hero-tablet2x.jpg');
    }
  }

  // !!!!!!1200 px!!!!!!!!!!!!!!!!!
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/hero-desctop.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/hero-desctop2x.jpg');
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  max-width: 360px;
  @media screen and (min-width: 768px) {
    // font-size: 26px;
    // line-height: 1.61;
    // font-weight: 900;
    // letter-spacing: 0.06em;
    // max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 695px;
    // font-size: 44px;
    // line-height: 1.36;
    // font-weight: 900;
    // letter-spacing: 0.06em;
    @include font(44px, 1.36, 900, 00.06em);
  }
}
