/* ---------------hero---------------------- */
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-color);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 695px;
  // font-size: 44px;
  // line-height: 1.36;
  // font-weight: 900;
  // letter-spacing: 0.06em;
  @include font(44px, 1.36, 900,00.06em);
  text-transform: uppercase;
  color: var(--white-color);
}
