/* ---------------form------------- */
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}
.input-wrapper {
  display: block;
  position: relative;
}
.modal-input {
  // width: 100%;
  // height: 40px;
  @include width-height(100%, 40px);
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  background: transparent;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;

  &:focus {
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
.modal-text-input {
  margin-bottom: 0px;

  &:focus + .input-icon {
    fill: var(--accent-color);
  }

  &:focus {
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.input-icon {
  position: absolute;
  left: 10px;
  fill: var(--dark-text-color);
  top: 50%;
  transform: translateY(-50%);
}
.modal-text-input {
  // width: 100%;
  // height: 120px;
  @include width-height(100%, 120px);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  resize: none;
  padding: 10px 16px;
  margin-bottom: 20px;

  &::placeholder {
    // font-size: 14px;
    // line-height: 1.4;
    // letter-spacing: 0.01em;
    @include font(14px, 1.4, null, 00.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.chek-text {
  // font-size: 14px;
  // line-height: 1.7;
  // letter-spacing: 0.03em;
  @include font(14px, 1.7, null, 00.03em);
  color: var(--primary-text-color);
  // display: flex;
  // align-items: center;
  @extend %align-items;
  justify-content: center;
  margin-bottom: 30px;
}

.chek-text span {
  // width: 15px;
  // height: 15px;
  @include width-height(15px, 15px);
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  // display: flex;
  // align-items: center;
  @extend %align-items;
  justify-content: center;
}
.check-icon {
  fill: #ffffff;
}
.modal-checkbox:checked + .chek-text span {
  background-color: var(--accent-color);
  border: none;
}

.checkbox-licens {
  color: var(--accent-color);
  margin-left: 4px;
}

.modal-btn {
  width: 200px;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: #ffffff;
  }
}
