/* -----------portfolio filter----------------- */
.filter {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 767) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.filter-list {
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.filter-list__item {
}

.filter-list__btn {
  font-family: inherit;
  // font-size: 16px;
  // line-height: 1.6;
  // font-weight: 500;
  @include font(16px, 1.6, 500, null);
  min-width: 73px;
  padding: 6px 22px;
  color: var(--dark-text-color);
  background-color: var(--backgrond-section-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
