/* -----------portfolio filter----------------- */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}