/* --------------work-------------------- */
.work {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--dark-text-color);
}
.work-list {
  display: flex;
}
.work-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
