/* цвет фота #E5E5E5 */
/* цвет нижней секции #F5F4FA */
/* цвет фрна футтера и героя #2F303A */
/* основного dark цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет текста  #ffffff */
/* цвет текска футтер контент rgba(255, 255, 255, 0.6) */

:root {
  --dark-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --white-color: #ffffff;
  --footer-connection-text-color: rgba(255, 255, 255, 0.6);
  --backgrond-section-color: #f5f4fa;
  --footer-color: #2f303a;
  --background-color: #e5e5e5;
  --drop-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  --icon-color: #afb1b8;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #ececec;
  letter-spacing: 0.03em;
}
/* ----------утитлиты------------- */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
}

/*  -----------reset.css */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

/* ----------------header------------------- */
.header {
  /* margin-top: 0;
  margin-bottom: 94px; */
  border-bottom: 1px solid var(--background-color);
  padding: 24px 0 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #000;
  margin-right: 93px;
}
/* .header-item + .header-item{
  margin-left: 50px;
}
.header-item{
display: flex;
padding-top: 32px;
padding-bottom: 32px;
} */

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link:focus,
.header-link:hover,
.current,
.header-tel-link:focus,
.header-tel-link:hover {
  color: var(--accent-color);
}
.header-tel-list {
  display: inline-flex;

  margin-left: auto;
}
.header-tel-item + .header-tel-item {
  margin-left: 50px;

  /* ------почему не работает? */
}
.header-icon {
  /* width: 16px;
  height: 12px; */
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--primary-text-color);
}

/* ---------------hero---------------------- */
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-color);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 695px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;

  border: 1px solid transparent;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* --------------advantages-------------- */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-icon-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--backgrond-section-color);
}
.advantages-icon {
  width: 70px;
  height: 70px;
}
.advantages-skills {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--dark-text-color);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

/* --------------work-------------------- */
.work {
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--dark-text-color);
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
/* --------------command-------------- */
.command {
  background-color: var(--backgrond-section-color);
  padding-top: 94px;
  padding-bottom: 94px;

  margin: 0px auto;
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--dark-text-color);
}
.command-list {
  display: flex;
  margin-left: -30px;
}
.command-item {
  background-color: #ffffff;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-tumb {
  padding: 30px 0;
}
.command-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  color: var(--dark-text-color);
}
.command-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sicial-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .sicial-icon,
.social-link:focus .sicial-icon {
  /* background-color: var(--white-color); */
  fill: var(--white-color);
  /* ---------------------------не работает !!!!!!!!!!---------- */
}
/* -----------client------------ */
.client {
  padding: 94px 0;
}
.client-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--dark-text-color);
}
.client-list {
  display: flex;
  justify-content: center;
}

.client-item:not(:last-child) {
  margin-right: 30px;

  /* ------------не понятный нижний отступ под иконками !!!-------------- */
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  /* ----------------в макете не нашел радиус бордера!!!!-------- */
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}

/* ---------------footer------------------ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}
.footer-container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}
.footer-left {
  display: flex;
  flex-direction: column;
}
.logo link {
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}
.footer-logo {
  color: var(--white-color);
}
.footer-link-address {
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color);
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;

  color: var(--footer-connection-text-color);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-right {
  display: block;
  flex-direction: column;
 
  /* -----------------не уверен что сделал правильный отсуп марджином в секции футр у списка соц сетей  */
  margin-left: 70px;
  width: 206px;
}
.footer-text {
  margin-bottom: 20px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social-link {
  background-color: #ffffff10;
}
.footer-sicial-icon {
  fill: var(--white-color);
}

/* -----------portfolio--------------------- */
/* -----------portfolio filter----------------- */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  min-width: 73px;
  padding: 6px 22px;
  color: var(--dark-text-color);
  background-color: var(--backgrond-section-color);
  font-size: 16px;
  line-height: 1.6;

  border-radius: 4px;
  border: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* -----------works------------ */

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.works-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-tumb {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-text-color);
  margin-bottom: 4px;
}
.works-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}
.works-content {
  outline: 1px solid var(--background-color);
}
