.social-list {
  @extend %justify-content;
}

.social-item {
  // width: 44px;
  // height: 44px;
  @include width-height(44px, 44px);
}
.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  // width: 100%;
  // height: 100%;
  @include width-height(100%, 100%);
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  // display: flex;
  // align-items: center;
  @extend %align-items;
  transition: 250ms linear, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.sicial-icon {
  // width: 20px;
  // height: 20px;
  @include width-height(20px, 20px);
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link .social-link:hover .sicial-icon,
.social-link:focus .sicial-icon {
  fill: var(--white-color);
}
