
body {
  font-family: 'Roboto', sans-serif;
  color: #ececec;
  letter-spacing: 0.03em;
  // min-width: 1600px;
}
/* ----------утитлиты------------- */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}